* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', 'arial';
    scroll-behavior: smooth;
}

:root {
    --orange: #FFBD13;
}

a {
    text-decoration: none;
}

div {
    color: #F3F3F3;
}

body {
    width: 100vw;
    overflow-x: hidden;
}

.section1 {
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 100vw;
    display: flex;
    max-height: 100vh;
    overflow: hidden;
    position: relative;
    max-width: auto;
}

.noir {
    flex: 2;
    z-index: 15;
}

.clement {
    color: #F3F3F3;
    font-size: 7vw;
    padding-top: 20%;
    padding-left: 5%;
}

.michellod {
    color: #F3F3F3;
    font-size: 7vw;
    padding-top: 1px;
    padding-left: 5%;
}

.ans {
    color: var(--orange);
    ;
    font-size: 3vw;
    padding-top: 4%;
    padding-left: 5%;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    object-fit: initial;
}

.gris {
    flex: 1;
    background-color: #2C2B2BAB;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    z-index: 15;
}

.decouvrir {
    color: var(--orange);
    ;
    font-size: 4vw;
    padding-bottom: 10%;
    font-weight: bold;
}

.fleche {
    font-size: 80px;
    color: var(--orange);
    ;
}

.righttext {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
}


/* PAGE PRESENTATION */

#presentation {
    display: flex;
    flex-direction: row;
}

.paragraphe {
    color: #F3F3F3;
    padding-top: 150px;
    margin-left: 5%;
    font-size: 2vw;
    font-weight: bold;
}

.divpresentation {
    flex: 2;
}

.portrait {
    flex: 1;
    margin-top: 150px;
}


/* PAGE EXPERIENCE / FORMATION */

.titleformation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
    font-size: 25px;
}


/* EXPERIENCE*/

.flex-container {
    display: flex;
    flex-direction: row;
    padding: 50px;
    font-size: 25px;
    font-weight: bold;
}

.flex-formation {
    border-right: 4px solid var(--orange);
    ;
    padding-right: 10px;
}

.flex-experience {
    border-left: 4px solid var(--orange);
    ;
    padding-left: 10px;
}

.flex-formation,
.flex-experience {
    flex: 1;
}

.flex-horizontal {
    display: flex;
    flex-direction: row;
}

.flex-date {
    flex: 2;
    padding-right: 5px;
    text-align: right;
}

.flex-ligne {
    flex: 1;
    text-align: center;
    min-height: 50px;
    position: relative;
}

.trait {
    height: 100%;
    width: 8px;
    background-color: #F3F3F3;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

.rond {
    height: 28px;
    width: 28px;
    background-color: #F3F3F3;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    border-radius: 200px;
    top: 2.5px;
}

.flex-paragraphe {
    padding-left: 5px;
    flex: 5;
    padding-bottom: 25px;
}

.flex-espace {
    padding-bottom: 200px;
}


/*PAGE PROJETS*/

.divprojets {
    padding-top: 100px;
}

.nomprojets {
    color: #F3F3F3;
    font-size: 50px;
}

.boutonprojetaviron {
    background-image: url("img/aviron/france.jpg");
}

.boutonprojetcrea {
    background-image: url("img/creanum/photo/poney.jpg"), url("img/creanum/photo/julia.jpg"), url("img/creanum/photo/poney3.jpg"), url("img/creanum/photo/grandcombin.jpg"), url("img/creanum/photo/poney2.jpg"), url("img/creanum/photo/montagny.jpg");
    height: 20vh !important;
    background-repeat: no-repeat, no-repeat !important;
    background-position-y: 77% !important;
    background-position-x: 0%, 20%, 40%, 60%, 80%, 100% !important;
    background-size: contain !important;
}

.grisprojets {
    text-align: center;
    background-color: rgba(112, 112, 112, 0.33);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pointeur:hover {
    cursor: pointer;
}

.imgcenter {
    transition: transform .7s ease-in-out;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.imgcenter:hover {
    transform: scale(1.2);
}

.clickimg {
    overflow: hidden;
    width: 70%;
    margin-top: 5%;
    max-width: 70%;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
}

.titlepopover {
    text-align: center;
    padding-top: 100px;
    color: #F3F3F3;
    font-size: 50px;
    border-bottom: solid;
    border-color: var(--orange);
    ;
    border-width: 10px;
}

.couleurpopover {
    background-color: #0F0F0F !important;
}

.popover-close-button i {
    color: rgb(255, 255, 255) !important;
}


/* PROJETS AVIRON */

.paviron {
    color: #F3F3F3;
    text-align: center;
    padding-top: 30px;
    margin-left: 5%;
    margin-right: 5%;
}

.imgaviron {
    padding-top: 70px;
    width: 100%;
}

.lienclubcsav {
    color: #F3F3F3;
    border-bottom: solid;
    border-color: #17b103;
    border-width: 3px;
}

.lienclubcna {
    color: #F3F3F3;
    border-bottom: solid;
    border-color: #d80d06;
    border-width: 3px;
}

.lienclubasla {
    color: #F3F3F3;
    border-bottom: solid;
    border-color: #0071f1;
    border-width: 3px;
}

.titlesaisoncsav {
    text-align: center;
    padding-top: 100px;
    color: #F3F3F3;
    font-size: 50px;
    border-bottom: solid;
    border-color: #17b103;
    border-width: 8px
}

.titlesaisoncna {
    text-align: center;
    padding-top: 100px;
    color: #F3F3F3;
    font-size: 50px;
    border-bottom: solid;
    border-color: #d80d06;
    border-width: 8px
}


/* POPOVER CREATION NUMERIQUES */

.section2 {
    background-color: rgb(255, 255, 255);
    height: 18vh;
    width: 960px;
    display: flex;
    max-height: 540px;
    overflow: hidden;
    max-width: auto;
    margin-top: 30px;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
}

.fullscreen-bg__video2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    object-fit: cover;
}

.boutonpopover {
    height: 540px;
    width: 960px;
    left: 50%;
    transform: translateX(-50%);
    object-fit: contain;
}

.boutonphotographies {
    background-image: url("img/creanum/photo/poney.jpg"), url("img/creanum/photo/julia.png"), url("img/creanum/photo/poney3.jpg"), url("img/creanum/photo/grandcombin.jpg"), url("img/creanum/photo/poney2.jpg"), url("img/creanum/photo/montagny.png");
    height: 20vh !important;
    background-repeat: no-repeat, no-repeat !important;
    background-position-y: 77% !important;
    background-position-x: 0%, 20%, 40%, 60%, 80%, 100% !important;
    background-size: contain !important;
}


/* PROJETS VIDEOS */

.flex-videos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    position: relative;
}


/*  
.video:first-child {
    border-color: #ff13ff;
    border-style: solid;
}
*/

.colonnevideo {
    flex-direction: column;
    padding-top: 2vh;
}

.video {
    padding-top: 10vh;
    max-width: 560px;
}

.logo {
    max-height: 30px;
    padding-left: 1vh;
    padding-top: 10px;
}

.pvideo {
    font-size: 2vh;
    padding: 10px;
}


/* PROJETS PHOTOGRAPHIES */

.flex-album {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.boutonalbum {
    text-align: center;
    margin-top: 100px;
    margin-left: 100px;
    position: relative;
    height: 25vh;
    width: 25vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.ab220122 {
    background-image: url(img/creanum/photo/albumponey/82.jpg);
}

.ab200122 {
    background-image: url(img/creanum/photo/album\ 20-01-22/19.jpg);
    background-position: center;
}

.ab24hergo {
    background-image: url(img/creanum/photo/album24hergo/17.jpg);
    background-position: center;
}

.instagram {
    border-bottom: solid;
    border-color: #a0005d;
    color: #F3F3F3;
}

.nomalbum {
    color: #F3F3F3;
    font-size: 3vh;
}

.flex-photo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    align-content: start
}

.colonnephoto {
    flex-direction: column;
    padding-top: 2vh;
}

.photo {
    max-width: auto;
    height: 45vh;
    margin: 9px;
}


/*PAGE CONTACT*/

.contacttext {
    color: #F3F3F3;
    font-size: 35px;
    border-bottom: solid;
    border-color: var(--orange);
    ;
    border-width: 10px;
    font-weight: bold;
}

.divcontact {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 20vh;
    margin-left: 15vh;
}

.contactlogo {
    font-size: 80px;
    color: var(--orange);
    ;
    margin-right: 50px;
    transform: scaleX(-1);
}

.bar {
    height: 10px;
    background-color: green;
    width: 100%;
    top: -5px;
}

.selected {
    background-color: var(--orange);
    ;
    color: white i !important;
}

body {
    background-color: #000000;
}


/*
.hide {
    display: none !important;
}
*/

h2 {
    text-align: center;
    padding-top: 50px;
    color: #F3F3F3;
    font-size: 80px;
    border-bottom: solid;
    border-color: var(--orange);
    ;
    border-width: 15px
}

.title {
    padding-top: 20vh;
    margin-left: 250px;
    position: relative;
    height: 80px;
}

.title h1 {
    color: #F3F3F3;
    font-size: 50px;
    border-bottom: solid;
    border-color: var(--orange);
    ;
    border-width: 10px;
    position: absolute;
}

.retourmenu {
    color: #F3F3F3;
    font-size: 30px;
    border-bottom: solid;
    border-color: var(--orange);
    ;
    border-width: 10px;
    position: absolute;
    margin-top: 3%;
}

.menu {
    z-index: 1000;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    top: 0;
    left: 0;
}

.menu a:hover {
    cursor: pointer;
    background-color: #bbbbbb;
    transition: 0.2s all ease-in-out;
}

.menu a {
    width: 100%;
    text-align: center;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    text-decoration: none;
    color: #2C2B2B;
    font-size: 30px;
}

.page {
    height: 100vh;
}

.bouton {
    text-align: center;
    margin-top: 30px;
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    animation: 0.2s all ease-in-out;
    height: 18vh;
    background-repeat: no-repeat;
    background-position-y: 77%;
    background-position-x: 5%;
    background-size: cover;
}